@import "tailwindcss";

@theme {
  --color-main: #00FFB7;
  --color-dark-grey: #0d0d0d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito-sans);
  --font-montserrat: var(--font-montserrat);
}
